.slide_image {
    /*border: 2px solid #ff0000;*/ 
    margin-top: 30%;
    padding-bottom: 15%;
}
.titulo {
    font-size: 1.4em;
    font-weight: bold;
}
.subtitulo {
    font-size: 1.2em;
}
.destaque {
    color: red;
}
