<!--

<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>
-->

<!-- padding = margem -->
<ion-content fullscreen="true">

  <!-- pager = com bolinhas -->
  <ion-slides pager>
    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/ica-slidebox-img-1.png">
        <br>
        <p class='titulo'>Este é o Título</p>
        <p class='subtitulo'>Este é o subtítulo</p>
        <p>Aqui coloca o texto! <span class='destaque'>Veja mais.</span></p>
      </div>
    </ion-slide>
    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/ica-slidebox-img-2.png">
        <br>
        <p class='titulo'>Este é o Título</p>
        <p class='subtitulo'>Este é o subtítulo</p>
        <p>Aqui coloca o texto! <span class='destaque'>Veja mais.</span></p>
      </div>
    </ion-slide>
    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/ica-slidebox-img-3.png">
        <br>
        <p class='titulo'>Este é o Título</p>
        <p class='subtitulo'>Este é o subtítulo</p>
        <p>Aqui coloca o texto! <span class='destaque'>Veja mais.</span></p>
      </div>
    </ion-slide>
    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/ica-slidebox-img-4.png">
        <br>
        <p class='titulo'>Este é o Título</p>
        <p class='subtitulo'>Este é o subtítulo</p>
        <p>Aqui coloca o texto! <span class='destaque'>Veja mais.</span></p>
        <ion-button href="/feed">Método 1 - Feed</ion-button>
        <ion-button href="/tabs/tab1">Método 1 - Tabs</ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>