.feed_title {
    color: crimson;
    background-color: darkkhaki;
    padding: 2%;
    margin: 1%;
    font-weight: bold;
    font-size: 1em;
    width: 130%;
  }

  .feed_date {
	color: green;
	background-color: chartreuse;
	padding: 2%;
	margin: 1%;
    width: 130%;
}