<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let filme of lista_filmes">
    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/images/marty-avatar.png">
      </ion-avatar>
      <div style='padding-left:10px;'>
      <ion-card-title class='feed_title'>{{ filme.original_title }}</ion-card-title>
      <ion-card-subtitle class='feed_date'>{{ filme.release_date }}</ion-card-subtitle>
      </div>
    </ion-item>

    

    <!-- https://images.tmdb.org/t/p/w300 -->
    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ objeto_feed.qntd_likes }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ objeto_feed.qntd_comments }} Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ objeto_feed.time_comment }}
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-button href="/filme-detalhes/{{ filme.id }}">Detalhes</ion-button>

  </ion-card>


  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>

  <ion-list></ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>