<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/images/marty-avatar.png">
      </ion-avatar>
      <div style='padding-left:10px;'>
      <ion-card-title class='feed_title'>{{ nome_usuario }}</ion-card-title>
      <ion-card-subtitle class='feed_date'>November 5, 1955</ion-card-subtitle>
      </div>
    </ion-item>

    


    <img src="/assets/images/advance-card-bttf.png">

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
        DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11 hs ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>